<h2 mat-dialog-title>Authorization requested</h2>
<div
  mat-dialog-content
  class="mat-typography"
>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Sign In">
      <form
        class="app-login-form"
        [formGroup]="formSignIn"
        (ngSubmit)="onSingIn()"
      >
        <p class="app-login-form-hint">Type your credentials to login</p>
        <ng-container *ngTemplateOutlet="authForm; context: {form: formSignIn}"></ng-container>
        <button
          class="app-login-button-yes"
          mat-raised-button
          color="primary"
          type="submit"
        >Sign In</button>
        <ng-container *ngTemplateOutlet="cancelButton"></ng-container>
      </form>
    </mat-tab>
    <mat-tab label="Sign Up">
      <form
        class="app-login-form"
        [formGroup]="formSignUp"
        (ngSubmit)="onSingUp()"
      >
        <p class="app-login-form-hint">Provide wished username and password</p>
        <ng-container *ngTemplateOutlet="authForm; context: {form: formSignUp}"></ng-container>
        <button
          class="app-login-button-yes"
          mat-raised-button
          color="primary"
          type="submit"
        >Sign Up</button>
        <ng-container *ngTemplateOutlet="cancelButton"></ng-container>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template
  #authForm
  let-form="form"
>
  <ng-container [formGroup]="form">
    <mat-form-field class="app-login-username">
      <input
        matInput
        type="text"
        cdkFocusInitial
        formControlName="username"
        placeholder="username"
        autocomplete="username"
      >
    </mat-form-field>
    <mat-form-field class="app-login-password">
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="password"
        autocomplete="current-password"
      >
      <mat-error *ngIf="getError(form, 'required', 'password')">
        Password is the required field.
      </mat-error>
      <mat-error *ngIf="getError(form, 'increasingStraight', 'password') as error">
        Password must include {error?.amount, select, 1 {one} 2 {two} } increasing straight of at least three letters, like abc , cde , fgh , and so on, up to xyz . They cannot skip letters; acd doesn't count.
      </mat-error>
      <mat-error *ngIf="getError(form, 'mayNotContain', 'password') as error">
        Password may not contain the letters {{error}}, as these letters can be mistaken for other characters and are therefore confusing.
      </mat-error>
      <mat-error *ngIf="getError(form, 'nonOverlappingPairs', 'password') as error">
        Password must contain at least {error, select, 1 {one} 2 {two} } non-overlapping pairs of letters, like aa, bb, or cc.
      </mat-error>
      <mat-error *ngIf="getError(form, 'maxlength', 'password') as error">
        Password cannot be longer than {{error?.requiredLength}} characters.
      </mat-error>
      <mat-error *ngIf="getError(form, 'lowerCaseAlphabeticCharacters', 'password')">
        Password can only contain lower case alphabetic characters.
      </mat-error>
    </mat-form-field>
  </ng-container>
</ng-template>

<ng-template #cancelButton>
  <button
    class="app-login-button-cancel"
    mat-button
    mat-dialog-close
    type="button"
  >Cancel</button>
</ng-template>
