.app-login-form {
  display: grid;
  grid-template: "hint hint" "username username" "password password" "yes cancel";
  grid-gap: 1rem;
  margin: 1rem;
  min-width: 40vw;
}

.app-login-form-hint {
  grid-area: hint;
}

.app-login-username {
  grid-area: username;
}

.app-login-password {
  grid-area: password;
}

.app-login-button-yes {
  grid-area: yes;
}

.app-login-button-cancel {
  grid-area: cancel;
}
