@mixin app-joke-list-layout {
  .app-joke-list-layout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template: "tool-bar" "joke-list" ".";
    grid-template-rows: auto auto 1fr;
  }

  .app-joke-tools {
    grid-area: tool-bar;
    padding: 1rem 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .app-joke-list {
    grid-area: joke-list;
    overflow: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem;
    align-items: baseline;
  }

  .app-joke-empty {
    text-align: center;
  }
}
