:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  display: grid;
  grid-template: "navigation" "content";
  grid-template-rows: auto 1fr auto;
}

.app-nav-bar {
  grid-area: navigation;
}

.app-tab-icon {
  margin-right: 0.5rem;
}

.app-content {
  position: relative;
  grid-area: content;
  overflow: auto;
}

.app-footer {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
}
