<nav
  mat-tab-nav-bar
  mat-align-tabs="center"
  class="app-nav-bar"
>
  <a
    mat-tab-link
    routerLink="/"
    routerLinkActive
    [routerLinkActiveOptions]="{exact: true}"
    #root="routerLinkActive"
    [active]="root.isActive"
  >
    <mat-icon class="app-tab-icon">thumb_up</mat-icon>
    Jokes
  </a>
  <a
    mat-tab-link
    routerLink="/favorites"
    routerLinkActive
    #favorites="routerLinkActive"
    [active]="favorites.isActive"
  >
    <mat-icon class="app-tab-icon">star</mat-icon>
    Favorites ({{jokeCount$ | async}})
  </a>
</nav>
<section class="app-content">
  <router-outlet></router-outlet>
</section>
<footer
  class="app-footer"
  *ngIf="isAuthorized$ | async"
>
  <p>You are logged in</p>
  <button
    mat-icon-button
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</footer>
