// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

@use "src/app/shared/joke-list-layout/joke-list-layout" as joke-list-layout;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$case-chuck-assignment-primary: mat.define-palette(mat.$indigo-palette);
$case-chuck-assignment-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$case-chuck-assignment-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$case-chuck-assignment-theme: mat.define-light-theme((
  color: (
    primary: $case-chuck-assignment-primary,
    accent: $case-chuck-assignment-accent,
    warn: $case-chuck-assignment-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($case-chuck-assignment-theme);

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include joke-list-layout.app-joke-list-layout();

.app-card-categories {
  display: inline-block;
}
