<header appJokeTools>
  <button
    mat-raised-button
    color="primary"
    (click)="triggerUpdate()"
  >Get jokes</button>
</header>

<main
  appJokeList
  *ngIf="jokes$ | async as jokes; else noJokes"
>
  <mat-card *ngFor="let joke of jokes; trackBy: trackById">
    <mat-card-actions>
      <button
        mat-icon-button
        (click)="toggleFavorite(joke)"
      >
        <mat-icon
          color="primary"
          *ngIf="isFavoriteJoke(joke) | async; else isNotFavorite"
        >star
        </mat-icon>
        <ng-template #isNotFavorite>
          <mat-icon>star_outline</mat-icon>
        </ng-template>
      </button>
      <mat-chip-list
        *ngIf="joke.categories.length > 0"
        class="app-card-categories"
      >
        <mat-chip *ngFor="let category of joke.categories">{{category}}</mat-chip>
      </mat-chip-list>
    </mat-card-actions>
    <mat-card-title [innerHTML]="sanitizeHtml(joke.joke)"></mat-card-title>
  </mat-card>
</main>
<ng-template #noJokes>
  <main appJokeListEmpty>
    <p>Press the button to get jokes</p>
  </main>
</ng-template>


