<header appJokeTools>
  <mat-slide-toggle
    [disabled]="isFull$ | async"
    (toggleChange)="toggleFilling()"
    [checked]="isFilling$ | async"
  >Fill automatically
    <mat-progress-bar
      *ngIf="isFilling$ | async"
      mode="indeterminate"
      color="primary"
    ></mat-progress-bar>
  </mat-slide-toggle>
  <button
    *ngIf="isDirty$ | async"
    mat-button
    (click)="clean()"
  >Clean</button>
  <button
    *ngIf="hasJokes$ | async"
    mat-button
    (click)="empty()"
  >Empty</button>
</header>
<ng-container *ngIf="jokes$ | async as jokes">
  <main
    appJokeList
    *ngIf="jokes.length > 0; else noJokes"
  >
    <mat-card *ngFor="let joke of jokes; trackBy: trackById">
      <mat-card-actions>
        <button
          mat-icon-button
          (click)="toggleFavorite(joke)"
        >
          <mat-icon
            color="primary"
            *ngIf="isFavoriteJoke(joke) | async; else isNotFavorite"
          >star
          </mat-icon>
          <ng-template #isNotFavorite>
            <mat-icon>star_outline</mat-icon>
          </ng-template>
        </button>
        <mat-chip-list
          *ngIf="joke.categories.length > 0"
          class="app-card-categories"
        >
          <mat-chip *ngFor="let category of joke.categories">{{category}}</mat-chip>
        </mat-chip-list>
      </mat-card-actions>
      <mat-card-title [innerHTML]="sanitizeHtml(joke.joke)"></mat-card-title>
    </mat-card>
  </main>
  <ng-template #noJokes>
    <main appJokeListEmpty>
      <p>No favorites</p>
    </main>
  </ng-template>
</ng-container>
